<div class="header bg-gradient-danger pb-4 pt-5 pt-md-5 mb-4">
  <div class="container-fluid"></div>
</div>
<div class="container-fluid mb-4 text-center">
  <div class="col mb-4">
    <div class="row-col-md-5">
      <div class="col mb-4">
        <div class="card-group">
          <div class="row" *ngFor="let pet of pets; let i = index" [class.active]="i == currentIndex"
            (click)="setActivePet(pet, i)">
            <div class="card" style="width: 18rem; height: 17rem; margin-right: 40px; margin-bottom: 10px;">
              <div class="card-image" style="height: 15rem">
                <img alt="Image placeholder" [src]="
                    pet.imagem
                      ? pet.imagem
                      : '../assets/img/theme/pets.jpg'
                  " class="card-img-top" style="max-width: 100%; height: 13rem; max-height: 100%"
                  referrerpolicy="no-referrer" />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <p class="card-text">{{ pet.nome }}</p>
                  </div>
                  <div class="col-1">
                    <div ngbDropdown placement="right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="deletePet()">Deletar</a>
                        <a class="dropdown-item" (click)="goToEditPet()">Editar</a>
                        <a class="dropdown-item" (click)="handleActivePet(pet)">Selecionar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card" style="width: 18rem; height: 17rem; margin-right: 40px; margin-bottom: 10px;">
              <div class="card-image" style="height: 12rem" (click)="goToAddPet()" triggers="hover focus click">
                <img src="../assets/img/icons/plus-solid.svg" class="card-img-top" alt="..."
                  style="margin-top: 50px; max-width: 50%; height: 13rem; max-height: 50%" />
              </div>
              <div class="card-body">
                <div class="row row-cols-2">
                  <div class="col-10">
                    <p class="card-text">Novo Pet</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>