<app-pet-card-header></app-pet-card-header>
<!-- Table -->
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Comportamento</h3>
                </div>
                <div class="container">
                    <div class="container">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">O que gosto:</label>
                                        <div class="m-3">
                                            <ul class="list-group list-group-horizontal-lg">
                                                <li class="list-group-item"><input type="checkbox"> Crianças</li>
                                                <li class="list-group-item"><input type="checkbox"> Outros animais</li>
                                                <li class="list-group-item"><input type="checkbox"> Comer</li>
                                                <li class="list-group-item"><input type="checkbox"> Humanos</li>
                                                <li class="list-group-item"><input type="checkbox"> Brinquedos</li>
                                                <li class="list-group-item"><input type="checkbox"> Banhos</li>
                                                <li class="list-group-item"><input type="checkbox"> Água</li>
                                                <li class="list-group-item"><input type="checkbox"> Passeios</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">O que não gosto:</label>
                                        <div class="m-3">
                                            <ul class="list-group list-group-horizontal-lg">
                                                <li class="list-group-item"><input type="checkbox"> Crianças</li>
                                                <li class="list-group-item"><input type="checkbox"> Outros animais</li>
                                                <li class="list-group-item"><input type="checkbox"> Comer</li>
                                                <li class="list-group-item"><input type="checkbox"> Humanos</li>
                                                <li class="list-group-item"><input type="checkbox"> Brinquedos</li>
                                                <li class="list-group-item"><input type="checkbox"> Banhos</li>
                                                <li class="list-group-item"><input type="checkbox"> Água</li>
                                                <li class="list-group-item"><input type="checkbox"> Passeios</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row row-cols-3">
                                        <div class="row"></div>
                                        <button type="button" placement="top-center" triggers="hover focus click"
                                            class="btn-icon-clipboard">
                                            <div>
                                                <i class="ni ni-active-40"></i>
                                                <span>Salvar</span>
                                            </div>
                                            <div class="row"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 column">


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>