<app-pet-card-header [pet]="pet"></app-pet-card-header>
<!-- Table -->
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Gerenciamento</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                (click)="goToSintomas()">
                <div>
                  <img src="../assets/img/icons/disease-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Sintomas</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                (click)="goToExames()">
                <div>
                  <img src="../assets/img/icons/notes-medical-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Exames</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                (click)="goToVacinas()">
                <div>
                  <img src="../assets/img/icons/syringe-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Vacinas</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                (click)="goToMedicamentos()">
                <div>
                  <img src="../assets/img/icons/prescription-bottle-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Medicamentos</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                ngxClipboard [cbContent]="'album-2'" (click)="goToControlePeso()">
                <div>
                  <img src="../assets/img/icons/weight-scale-solid.svg" 
                  style="max-width:6%; max-height:6%; ">
                  <span>Controle de peso</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                ngxClipboard [cbContent]="'album-2'" (click)="goToAlimentacao()">
                <div>
                  <img src="../assets/img/icons/bowl-food-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Alimentação</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard"
                ngxClipboard [cbContent]="'album-2'" (click)="goToComportamento()">
                <div>
                  <img src="../assets/img/icons/list-check-solid.svg" 
              style="max-width:6%; max-height:6%; ">
                  <span>Comportamento</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>