<app-pet-card-header></app-pet-card-header>
<!-- Table -->
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Alimentação</h3>
                </div>
                <div class="container">
                    <div class="container text-center">
                        <div class="row row-cols-3">
                            <div class="col"></div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="data" class="form-label">Data</label>
                                    <input type="text" class="form-control" id="data" placeholder="dd/mm/yy"
                                        [(ngModel)]="alimentacao.data" name="data">
                                </div>
                                <div class="mb-3">
                                    <label for="racao" class="form-label">Ração</label>
                                    <input type="text" class="form-control" id="racao" placeholder="Kg"
                                        [(ngModel)]="alimentacao.racao" name="racao">
                                </div>
                                <div class="mb-3">
                                    <label for="quantidade" class="form-label">Quantidade</label>
                                    <input type="text" class="form-control" id="quantidade" placeholder="gramas"
                                        [(ngModel)]="alimentacao.quantidade" name="quantidade">
                                </div>
                                <button type="button" placement="top-center" triggers="hover focus click"
                                    class="btn-icon-clipboard">
                                    <div>
                                        <i class="ni ni-active-40"></i>
                                        <span *ngIf="!isUpdated" (click)="saveAlimentacao()">Adicionar Alimentação</span>
                                        <span *ngIf="isUpdated" (click)="saveAlimentacao()">Editar Alimentação</span>
                                    </div>
                                </button>
                            </div>

                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 column">


                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Ração</th>
                                <th scope="col">Quantidade (g)</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let alimentacao of alimentacoes">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <i class="ni ni-single-copy-04 text-blue"></i>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ alimentacao.data.toDate() | date:'dd/MM/yyyy'
                                                }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{ alimentacao.racao }}
                                </td>
                                <td>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{ alimentacao.quantidade }}</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-primary"
                                    (click)="handleActiveAlimentacao(alimentacao)">Editar</button>
                                </td>
                                <td class="text-left">
                                    <button type="button" class="btn btn-warning"
                                        (click)="deleteAlimentacao(alimentacao.id)">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>